html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  overflow: hidden;
}

#video {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  object-fit: cover;
  z-index: 0;
}

.video-wrapper { position: relative; width: 100vw; height: 100vh; }

#flame, #flame2 {
  position: fixed;
  filter: brightness(1) contrast(1) saturate(2);
  top: 14%;
  width: 20vw; height: 20vw;
  object-fit: cover;
  pointer-events: none;
  mix-blend-mode: screen;
  opacity: 1;
  z-index: 5;
  display: none;
}

#flame { left: 34%; }
#flame2 { left: 45%; }


#snap, #record {
  position: fixed;
  bottom: 5%; /* 下から 5% の位置に固定 */
  padding: 1% 2%; /* サイズも % にして画面サイズ依存に */
  font-size: 1.2vw; /* フォントも画面幅に依存 */
  border: none; border-radius: 1vw;
  background: rgba(255,255,255,0.8);
  cursor: pointer;
  z-index: 10;
}
#snap { right: 60%; }
#record { right: 40%; }

.category-buttons {
  position: absolute;
  bottom: 70px;
  right: 90%;
  z-index: 10;
}
.category-btn {
  display: block;
  margin-bottom: 15px;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
}

.sub-buttons {
  display: none;
  position: absolute;
  bottom: 120px;
  right: 20px;
  z-index: 10;
}
.sub-buttons button {
  display: block;
  margin-bottom: 15px;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 8px;
  background: rgba(255,255,255,0.9);
  border: none;
  cursor: pointer;
}

#timer {
  color: aliceblue;
  position: fixed;
  top: 20px; right: 20px;
  font-size: 24px;
  z-index: 20;
}

#face-frame {
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 25vw; height: 32vw;
  border: 4px solid #00ffcc;
  border-radius: 50% / 60%;
  box-shadow: 0 0 15px #00ffcc;
  pointer-events: none;
  z-index: 15;
}
@media (max-width: 768px) {
  #snap {
    left: 5%;
    width: 40%;
  }
  #record {
    right: 5%;
    width: 40%;
  }

  .category-buttons {
    bottom: 25%;
    left: 3%;
    right: auto;
  }

  .category-btn {
    padding: 2% 3%;
    font-size: 4vw;
  }

  .sub-buttons {
    bottom: 35%;
    left: 3%;
  }
  .sub-buttons button {
    padding: 2% 3%;
    font-size: 4vw;
  }

  #timer {
    font-size: 5vw;
    top: 3%;
    right: 3%;
  }

  #face-frame {
    width: 60%;
    height: 80%;
  }
}
